.menu a{
    text-decoration: none;
    color: white;
    padding: 0.5em;
    line-height: 2.1;
    font-family: monospace;
}
.menu{
    background-color: dimgray;
    display: block;
    text-align: center;
    margin-top: 1.6em;
    margin-bottom: 4.7em;
}
body{
    background-color: black;
}
.wrapper{
    background-color: whitesmoke;
    width: 95%;	
    margin: 0 auto 0 auto;

}
.active{
    background-color: skyblue;
}
h1{
    font-size: 30pt;
}
h2{
    font-size: 18pt;
    line-height: 0.1;
    
}
.featured-img{
    text-align: center;
}

.para{
    font-size: 20pt;
}
p{
    font-size: 20pt;
    line-height: 0.2;
}

h3{
    background-color: skyblue;
    font-size: 17pt;
    color: white;
    border-radius: 70%;
    margin: 0 auto 0 auto;
    width: 29%;
    padding: 1.0em;
    line-height: 2.0;
    
}
img{
    border-radius: 100%;
    
}